<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- STYLESHEET -->
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <!-- BOOTSTRAP CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!-- FONT AWESOME CDN -->
  <script src="https://kit.fontawesome.com/0581082bd4.js" crossorigin="anonymous"></script>
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <title>Amason: Low Prices in every department</title>
</head>

<body onload="myFunction()">
  <div id="loading"></div>

  <!-- NAVBAR -->

  <section id="navbar">
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="images/amazon-logo.svg" alt="logo-image" width="30" height="30" class="d-inline-block align-text-top">
          <span class="navbrand-span">Amason</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i> Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</section>

<!-- PRODUCTS LIST -->

<section id="products">
    <div class="container">
        <h1 class="display-4 fw-bold text-center mt-5">Our <span style="color: red;">Products</span></h1>
        <p class="lead text-center text-muted">Our wide range of selection of products are listed below. <br/> Please make sure you verify the discounted prices as some products may not contain any discount(s). <br/>Visit the website daily to know more about the deals of the new products.</p><br/>

        
        <div class="row">
            <% result.forEach(function(item) { %>
            <div class="col-sm-4">
                <div class="card mb-5"><br/>
                    <img class="card-img-top img-fluid" src="images/products/<%= item.image; %>" alt=""><br/>
                    <div class="card-block">
                        <h5 class="card-title text-center" style="font-weight: bold; font-size: 2em;"><%= item.name %></h5>

                        <% if (item.sale_price) { %>
                            <p class="card-text text-center" style="font-size: 2em; font-weight: bold; color: red; text-decoration: line-through;"><span style="color: black;">£</span><%= item.price %></p> 
                            <p class="text-muted text-center">Now only at :</p>
                            <p class="card-text text-center" style="font-size: 2em; font-weight: bold; color: red;"><span style="color: black;">£</span><%= item.sale_price %></p>
                       <% } else { %>
                            <p class="card-text text-center" style="font-size: 2em; font-weight: bold; color: red;"><span style="color: black;">£</span><%= item.price %></p>
                       <% } %>
        
                        <div class="text-center">
                        <form action="/add_to_cart" method="post">
                          <input type="hidden" name="id" value="<%= item.id %>">
                          <input type="hidden" name="name" value="<%= item.name %>">
                          <input type="hidden" name="price" value="<%= item.price %>">
                          <input type="hidden" name="sale_price" value="<%= item.sale_price %>">
                          <input type="hidden" name="quantity" value="1">
                          <input type="hidden" name="image" value="<%= item.image %>">
                          <input type="submit" value="Add to Cart" class="btn btn-outline-success mx-auto mb-3">
                        </form>
                      </div>
                    </div>
                  </div>
            </div>
            <% }) %>
    </div>
</section>

<!-- APP DOWNLOAD -->

<section id="appdownload">
    <h1 class="display-4 fw-bold">Download our <span style="color: red;">Application</span> to know more...</h1><br/>
      <button type="button" class="btn btn-dark btn-lg download-button btn-apple" style="margin-right: 30px;"><i class="fab fa-apple"></i> Download</button>
      <button type="button" class="btn btn-light btn-lg download-button mx-auto"><i class="fab fa-google-play"></i> Download</button>
  </section>

  <!-- FOOTER -->

  <section id="footer">
    <div class="container">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3 text-center">
          <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            <img src="images/amazon-logo.svg" class="mx-auto" alt="logo-image" width="30" height="30" class="d-inline-block align-text-top">
          </a>
          <p class="text-muted">&copy; 2022</p>
          <p>Designed & Developed by <span style="font-weight: bold;">Anupam Pammi</span></p>
        </div>
    
        <div class="col mb-3">
          
        </div>
    
        <div class="col mb-3">
          
        </div>
    
        <div class="col mb-3 text-center">
          <h5>Homepage </h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#featured" class="nav-link p-0 text-muted">Sale</a></li>
            <li class="nav-item mb-2"><a href="#brands" class="nav-link p-0 text-muted">Brands</a></li>
            <li class="nav-item mb-2"><a href="#cta" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#appdownload" class="nav-link p-0 text-muted">Download App</a></li>
          </ul>
        </div>
    
        <div class="col mb-3 text-center">
          <h5>Other Sections</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/about" class="nav-link p-0 text-muted">About</a></li>
            <li class="nav-item mb-2"><a href="/products" class="nav-link p-0 text-muted">Products</a></li>
            <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-muted">Contact Us</a></li>
            <li class="nav-item mb-2"><a href="/cart" class="nav-link p-0 text-muted">Cart</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Login/Signup</a></li>
          </ul>
        </div>
    
      </footer>
    </div>
</section>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

     <!-- Pre-Loader Script -->
     <script>
      var myVar;
      function myFunction(){
        myVar = setTimeout(showPage, 3000);
      }
      function showPage() {
        document.getElementById("loading").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
      }
    </script>
</body>

</html>